@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');


body {
background-color: #000000; 
}

nav{
  font-family: 'Neucha', monospace;
  color: white;
  font-size: 60px;
  word-spacing: 30px;
  margin-bottom: 50px;
}


ul#index1{
  list-style:none;
  position:absolute;
  text-align: center;
  margin-bottom: 20px;
  top: 355px;
left: 225px;
}


ul#index2{
  list-style:none;
  position:absolute;
  text-align: center;
  margin-bottom: 20px;
  top: 340px;
  left: 790px;
}

li#index1{
  margin-bottom: 100px;
}

li#index2{
  margin-bottom: 150px;
}



footer {
  color: black;
  font-family: Verdana;
  font-size: small;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: white;
}

a:visited {
  color: grey;
}

a:focus {
  color: red;
}

a:hover { 
  color: yellow;
}

a:active {
  background: rgb(160, 160, 160, .4);
  color: #FFFFFF;
}


